:root{
  --bg: rgba(240, 240, 240, 0.685);
  --text-color: rgb(17, 32, 49);
  --text-normal-color: rgb(241, 2, 2);
  --text-accent-color: maroon;
}
html, body {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
  }
  body{
    padding: 2rem 2rem;
    border-radius: 12px;
    background: var(--bg);
  }
  div#main {
    margin: 10;
    padding: 0 20px 20px;
  }
  a {
    background: transparent;
    color: var(--text-color);
    text-decoration: underline;
    font-weight: bold;
  }
  .login{
    font-size: 18px;
  }
  .login:hover{
    text-decoration: none;
  }
  h1 {
    color: var(--text-color);
    font-size: 175%;
    /*font-style: italic;*/
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
  }
  h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
  }
  h1#header{
    text-align:left
  }
  table#application{ /* set app to full size */
    width: 100%;
  }
  table#movies {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
  }
  table#movies th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
  }
  table#movies th, table#movies td {
    padding: 4px;
    text-align: left;
    
  }
  #notice, #warning {
    background: maroon;
    color: white;
    margin: 1em 0;
    padding: 4px;
    font-size: 16px;
  }
  form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: var();
    
  }
  h2#banner a{
    color: maroon;
    text-decoration: none;
    font-size: xx-large;
    text-align: left;
  }
  tr:hover#hover {
    background-color: yellow;
  }
  li#details {
    text-align: left;
  }
  h3#description{
    text-align: left;
  }
  .home_btn{
    color: var(--text-normal-color);
    font-size: 18px;
    text-decoration: none;
    transition: ease 0.2s;
  }
  .home_btn:hover{
    color: var(--text-accent-color);
  }
  #three-btn .home_btn .btn {
    font-size: 20px;   
    color: var(--text-normal-color);
    transition: ease 0.2s;
    margin: 1em;
  }
  .btn:hover{
    color: var(--text-accent-color);
  }
  .search-label{
    color: var(--text-accent-color);
  }